# Environment variables
.env

# Virtual environment
venv/
*/venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Other common ignores (add as needed)
*.log
*.pot
*.pyc
*.swp
.idea/
.vscode/